@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* fallback */
@font-face {
  font-family: 'Material Icons Outlined';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialiconsoutlined/v108/gok-H7zzDkdnRel8-DQ6KAXJ69wP1tGnf4ZGhUce.woff2) format('woff2');
}

.material-icons-outlined {
  font-family: 'Material Icons Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v139/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  /* Main colors */
  --blue-dark: #10285c;
  --blue: #5797BA;
  --blue-light: #57baba;
  --white: #f4f4f4;
  --blackColor: #0b0b0b;

  /* Font colors (in light back)*/
  --colorText: #0b0b0b;
  --colorLabel: #858585;
  --colorDisabled: #b6b6b6;

  /* Font colors (in dark back)*/
  --inColorText: #f4f4f4;
  --inColorLabel: #7a7a7a;
  --inColorDisabled: #494949;

  /* Button colors*/
  --inLightBtn: #494949;
  --inDarkBtn: #b6b6b6;
  --colorLightBtn: #696969;
  --colorDarkBtn: #969696;

  /* Small lenghts */
  --lenghtSm1: 0.25rem;
  --lenghtSm2: 0.5rem;
  --lenghtSm3: 0.75rem;

  /* Medium lenghts */
  --lenghtMd1: 1rem;
  /* default lenght "p" "span" "h4" */
  --lenghtMd2: 1.25rem;
  /* h2 lenght */
  --lenghtMd3: 1.5rem;

  /* Large lenghts */
  --lenghtLg1: 2rem;
  /* h1 lenght */
  --lenghtLg2: 3rem;
  --lenghtLg3: 4rem;
}

body {
  background-color: #fff;
  font-family: 'Montserrat', sans-serif;
  width: 100%;
}

html {
  scroll-behavior: smooth;
}

h1 {
  color: var(--colorText);
}

h2 {
  color: var(--blue-dark);
}

h3 {
  color: var(--blue);
}

p {
  color: var(--colorLabel);
}

note div {
  color: var(--colorLabel);
  background-color: #e1e1e1;
  padding: 10px;
  font-style: italic;
  font-size: 13px;
  line-height: 18px;
  margin-bottom: 25px;
}

table {
  color: var(--colorLabel);
}

li {
  color: var(--colorLabel);
}

@media (min-width: 630px) {
  h1 {
    margin-bottom: 20px;
    font-size: 2.625rem;
  }

  h2 {
    margin-bottom: 10px;
  }

  h3 {
    margin-bottom: 10px;
  }

  p {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 25px;
  }

  table {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 25px;
  }

  li {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 15px;
  }
}

@media (max-width: 705px) {
  h1 {
    margin-bottom: 20px;
    font-size: 2.5rem;
  }

  h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }

  h3 {
    font-size: 16px;
    margin-bottom: 10px;
  }

  p {
    font-size: 14px;
    line-height: 25px;
    margin-bottom: 25px;
  }

  table {
    font-size: 14px;
    line-height: 25px;
    margin-bottom: 25px;
  }

  li {
    font-size: 14px !important;
    line-height: 25px;
    margin-bottom: 15px;
  }

  a {
    font-size: 14px;
  }
}

small {
  color: var(--colorDisabled);
}

ol,
ul {
  margin-left: 20px;
}

a {
  cursor: pointer;
  color: var(--white);
  padding: 10px 20px;
  border-radius: 100px;
}

span {
  cursor: pointer;
  color: var(--blue-light);
}

span:hover {
  text-decoration: underline;
}

.material-icons-outlined {
  color: var(--blackColor);
}

.material-icons-outlined:hover {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: white;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #111;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

hr {
  filter: opacity(35%);
}

u {
  text-decoration: underline;
}

/* //////////////////////////// */
/* HEADER STYLES */
/* //////////////////////////// */

header {
  display: flex;
  background-color: #111;
  justify-content: center;
  align-items: center;
  z-index: 2;
  height: 79px;
}

header li {
  list-style: none;
  margin: 0px 15px;
}

header a {
  padding: 0px;
}

.navLogo {
  display: flex;
  align-items: center;
  margin: 15px 1% 15px 0px;
}

.navLogo a {
  font-size: 40px;
  color: var(--white);
  margin-right: 30px;
}

.navbar ul {
  display: flex;
  margin: 0px;
}

.navbar ul li a {
  color: var(--colorLabel);
}

.navbar ul li a:hover {
  color: var(--white);
  transition: 0.4s;
}

#search {
  cursor: not-allowed;
}

#search-form,
#search-formFullScreen,
#search-formOnPage {
  display: flex;
  pointer-events: none;
}

#search-form {
  justify-content: flex-end;
}

#search-formOnPage {
  width: 100%;
}

#searchInput,
#searchInputFullScreen,
#searchInputOnPage {
  padding: 10px;
  border-radius: 100px 0px 0px 100px;
  border: none;
  background-color: #fff;
  width: 300px;

}

#searchInputOnPage {
  width: 100%;
}

#searchOnPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 150px 0px;
}

#searchInput:focus-visible,
#searchInputFullScreen:focus-visible,
#searchInputOnPage:focus-visible {
  outline: none;
}

#search-form button,
#search-formFullScreen button,
#search-formOnPage button {
  padding: 12px 22px;
  border-radius: 0px 100px 100px 0px;
  border: none;
  background-color: rgb(225, 225, 225);
  cursor: pointer;
}

#searchInputOnPage,
#search-formOnPage button {
  box-shadow: 0px 10px 45px -3px rgba(0, 0, 0, 0.2);
}

#search-form button img,
#search-formFullScreen button img,
#search-formOnPage button img {
  width: 16px !important;
  filter: invert(1) brightness(50%);
}

#searchFullScreen {
  position: fixed;
  z-index: 3;
  width: 100%;
  height: 100%;
  background-color: hsl(0deg 0% 80%);
  ;
}

#search-formFullScreen {
  margin: 10px;
}

#searchInputFullScreen {
  width: 100%;
}

.slide-top {
  position: fixed;
  width: 100%;
  animation: slide-top 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-top {

  0% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(-100px);
  }
}

.slide-bottom {
  position: fixed;
  width: 100%;
  animation: slide-bottom 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-bottom {
  0% {
    transform: translateY(-100px);
  }

  100% {
    transform: translateY(0px);
  }
}

.subHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.65),
      rgba(0, 0, 0, 0.65)),
    url('../img/makeupBg.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 100px;
  box-shadow: 0px 10px 45px -3px rgba(0, 0, 0, 0.4);
}

.subHeaderContent {
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 800px;
  align-items: center;
}

.subHeaderContent h1 {
  color: var(--white);
}

.btnInSubHeader {
  display: flex;
  justify-self: center;
}

.btnInSubHeader a {
  background-color: var(--blue);
  margin: 0px 10px;
}

.btnInSubHeader a:nth-child(2) {
  background-color: var(--blue-dark);
}

.btnInSubHeader a:nth-child(1):hover {
  background-color: #678094;
  transition: 0.4s;
}

.btnInSubHeader a:nth-child(2):hover {
  background-color: #3f4679;
  transition: 0.4s;
}

.hamb {
  margin-top: 20px;
  display: none;
}

.hamb span {
  display: flex;
  width: 30px;
  height: 4px;
  background-color: white;
  border-radius: 2px;
  margin-left: 10px;
  margin-right: 10px;
}


#nav-icon3 {
  width: 60px;
  height: 45px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon3 span {
  display: block;
  position: absolute;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

/* Icon 3 */

#nav-icon3 span:nth-child(1) {
  top: 0px;
}

#nav-icon3 span:nth-child(2),
#nav-icon3 span:nth-child(3) {
  top: 10px;
}

#nav-icon3 span:nth-child(4) {
  top: 20px;
}

#nav-icon3.open span:nth-child(1) {
  top: 4px;
  width: 0%;
  left: 50%;
}

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.seccion {
  position: absolute;
  top: 79px;
  right: 0px;
  flex-direction: column;
  background-color: #111;
  width: 250px;
  height: 100%;
  overflow: hidden;
  z-index: 2;
}

.seccion ul li {
  padding: 10px 0px;
  border-bottom: solid 1px #f4f4f40d;

}

.hidden-section {
  display: none;
  left: 100%;
}

.slide-left {
  animation: slide-left 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) forwards;
  box-shadow: -200px 0px 0px 2000px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: -200px 0px 0px 2000px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: -200px 0px 0px 2000px rgba(0, 0, 0, 0.25);
  transition: 0.3s;
}

@keyframes slide-left {
  0% {
    transform: translateX(100px);
  }

  100% {
    transform: translateX(0px);
  }
}

.slide-right {
  animation: slide-right 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) forwards;
  box-shadow: -200px 0px 0px 2000px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: -200px 0px 0px 2000px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: -200px 0px 0px 2000px rgba(0, 0, 0, 0.25);
  transition: 0.3s;
}

@keyframes slide-right {
  0% {
    transform: translateX(-0px);
  }

  100% {
    transform: translateX(250px);
  }
}

.disable-selection {
  user-select: none;
  pointer-events: none
}

.seccion a {
  display: flex;
  justify-content: flex-end;
}

.drop-in-section {
  display: flex;
  justify-content: flex-end;
}

.align-in-seccion {
  display: flex;
  align-items: center;
}


@media (max-width: 1200px) {
  .navbar {
    display: none;
  }

  .navLogo {
    width: 100%;
    margin-left: 20px;
  }

  #searchInput {
    width: 400px;
  }

  .hamb {
    display: block;
  }
}

@media (max-width: 830px) {
  #searchInput {
    width: 100%;
  }

  #search {
    width: 100%;
  }
}

@media (max-width: 630px) {
  #searchInput {
    display: none;
  }

  #search {
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
  }

  #search-form button {
    padding: inherit;
    border-radius: inherit;
    background-color: inherit;
  }

  #search-form button img {
    width: 20px;
    filter: invert(1);
  }

}


@media (max-width: 375px) {

  .navLogo {
    margin-left: 10px;
  }

  .navLogo a {
    font-size: 30px;
    margin-right: 10px;
  }

  #search-form button img {
    width: 18px;
  }

  #search {
    padding-right: 10px;
  }

}

@media (max-width: 325px) {
  .articleInfo {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 280px) {

  .hamb span {
    width: 4px;
    margin-right: inherit;
  }

  #search {
    padding-right: 5px;
  }

}

@media (max-width: 260px) {

  .navLogo a {
    font-size: 25px;
    margin-right: 10px;
  }

}

/* //////////////////////////// */
/* FOOTER STYLES */
/* //////////////////////////// */


footer {
  background-color: #111;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer {
  padding: 0px 70px 70px 70px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

@media (max-width: 1020px) {
  .footer {
    padding: 0px 30px 30px 30px;
  }

  .linksSide div {
    margin: 0px 5px !important;
  }
}

@media (max-width: 390px) {
  .footer {
    padding: 0px 10px 10px 10px;
  }


}

footer h3 {
  color: var(--inColorText);
  margin: 0px;
  border-bottom: 1px solid #A0A0A0;
  margin-bottom: 8px;
}

.socialMediaImgSideInFooter {
  margin: 10px 0px;
}

.socialMediaImgSideInFooter p {
  margin: 0px;
}

.socialMedia {
  color: var(--inColorText);
}

.mainFooter {
  max-width: 380px;
}

.mainFooter ins {
  font-size: 50px;
  letter-spacing: 0.05em;
  color: var(--white);
}

@media (max-width: 630px) {
  .mainFooter ins {
    font-size: 30px;
    letter-spacing: 0.05em;
    color: var(--white);
  }

  .linksSide {
    display: flex;
    flex-wrap: wrap;
  }
}

.linksFooter {
  color: var(--inColorText);
}

.linksFooter article {
  margin: 10px 0px;
}

.linksPart {
  display: flex;
  flex-wrap: wrap;
}

.linksSide {
  display: flex;
}


.linksSide div {
  display: flex;
  flex-direction: column;
  margin: 0px 15px;
}

.linksSide div a:hover {
  text-decoration: underline;
}


.backUpBtn {
  color: var(--inColorLabel);
  background-color: #222222;
  font-size: 13px;
  padding: 10px 40px 10px 40px;
  letter-spacing: 0.05em;
  max-width: 180px;
  border-radius: 7px;
  cursor: pointer;
  margin-bottom: 20px;
}

.backUpBtn a {
  color: var(--inColorLabel);
}

.backUpBtn:hover {
  background-color: #070707;
  transition: 0.2s;
}

/* //////////////////////////// */
/* CONTAINER STYLES */
/* //////////////////////////// */

.container {
  display: grid;
  grid-template-columns: 1fr 600px 5fr;
  margin: 0px 10px;
}

.Middle-Grid {
  display: flex;
  flex-direction: column;
  max-width: 650px;
}

.Middle-Grid article {
  margin: 30px 0px;
}

#Article-Middle-Grid {
  flex-direction: inherit;
}

.article {
  max-width: 600px;
  padding-right: 50px;
}

.Middle-Grid .article article {
  margin: 60px 0px;
}

.Middle-Grid .article article img {
  width: 100%;
  margin-bottom: 25px;
}

.visilityOn {
  visibility: visible;
}

@media (max-width: 1200px) {
  .container {
    display: inherit;
  }

}

.socialMediaOnLeft {
  min-width: 70px;
}

.socialMediaOnLeftSticky {
  position: relative;
  top: 150px;
  display: flex;
  flex-direction: column;
  margin-top: 60px;
}

.socialMediaOnLeftSticky a {
  padding: inherit !important;
}

.socialMediaOnLeft img {
  width: 40px !important;
  filter: brightness(50%);
  margin: 3px 0px !important;
}

.socialMediaOnArticle img {
  width: 40px !important;
  filter: brightness(50%);
  margin: 15px 6px 0px 0px !important;
}

.socialMediaOnArticle a {
  padding: inherit !important;
}

.tableOfContent {
  min-width: 500px;
  display: inherit;
}

.tableOfContent2 {
  margin: 30px 0px;
  display: none;
}


.ToC {
  position: relative;
  top: 70px;
}

.ToC2 summary {
  padding: 10px;
  padding-left: 2.2rem;
}

.ToC summary,
.ToC2 summary {
  padding-bottom: 0px;
}

.ToC summary h2 {
  font-size: 20px;
}

.ToCElement li {
  margin: 0px;
  font-size: .8em;
  line-height: inherit;
}

#ToCDetails2 div li {
  font-size: 15px;
}

.ToC summary:before,
.ToC2 summary:before {
  border-color: transparent transparent transparent var(--blue-dark);
  filter: brightness(90%);
}

.ToC details,
#ToCDetails2 {
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0);
  border: solid 1px rgb(227, 227, 227);
  border-radius: 15px;
  background-color: rgb(239 239 239);
  margin: 0px;
  scroll-behavior: smooth;
  transition: height .25s ease;
  overflow: inherit;
  padding-right: 30px;
}

.ToC details:not([open]) {
  height: 55px !important;
}

.ToC2 details:not([open]) {
  height: 53px !important;
}

.ToCElement {
  margin: 7px;
}

.ToCElement a {
  padding: 0px;
  margin: 0px;
  color: var(--colorLabel);
}

.ToCElement a:hover {
  color: var(--blue);
}

@media (max-width: 630px) {
  .article {
    max-width: 500px;
  }

  .container {
    display: inherit !important;
  }

  .ToC2 summary {
    padding: 16px;
    padding-left: 2.2rem;
  }
}

@media (max-width: 530px) {
  .article {
    max-width: 400px;
  }

}


@media (max-width: 430px) {
  article img {
    width: 90vw !important;
  }

  #ToCDetails2 {
    width: 90vw !important;
  }
}

@media (max-width: 1310px) {
  .tableOfContent {
    min-width: 300px;
  }

  .ToC {
    width: 300px;
  }
}

@media (max-width: 1000px) {
  .tableOfContent {
    display: none;
  }

  .tableOfContent2 {
    display: inherit;
  }

  .container {
    display: grid;
  }

  .article {
    padding-right: inherit;
  }
}

.bubtn {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 2;
  padding: 15px 20px !important;
  border-radius: 20px !important;
  display: none;
}

/* ABOUT US */

.aboutUsPart {
  box-shadow: 0px 10px 40px -3px rgba(0, 0, 0, 0.2);
  padding: 30px;
  border-radius: 40px;
}

/* CONTACT US */

.contactWays {
  display: flex;
  justify-content: space-evenly;
}


.socialMediaImgSide {
  margin: 0px !important;
  filter: brightness(50%);
}

.socialMediaImgSide img {
  width: 40px !important;
}

.socialMediaImgSide a {
  padding: 0px;
}

socialMediaOnLeftSticky .contactForImportantMatters {
  margin-right: 10px !important;
}

/* LATES PAGES */

.cardsContainer {
  display: flex;
  align-items: center;
}

.cardsContainer span {
  font-size: 40px;
  cursor: pointer;
  user-select: none;
  z-index: 1;
}

.cards2 {
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
}

.cards2::-webkit-scrollbar {
  display: none;
}

.card2 img {
  width: 250px !important;
}

.card2 {
  margin: 0px 10px;
  border: solid 1px rgba(17, 17, 17, 0.172);
  margin-bottom: 25px;
  cursor: pointer;
  border-radius: 15px;
  z-index: 1;
}

.card2:hover p {
  text-decoration: underline;
}

.cardInfo {
  padding: 0px 20px;
}



@media (max-width: 630px) {
  .card2 img {
    width: 200px !important;
  }
}

@media (max-width: 430px) {
  .cards2 {
    width: 270px;
  }
}

@media (max-width: 375px) {

  .cards2 {
    width: 220px;
  }

  .cardsContainer {
    justify-content: center;
  }
}

@media (max-width: 322px) {
  .card2 img {
    width: 150px !important;
    margin-bottom: 10px !important;
  }

  .card2 {
    margin: 10px 5px;
  }

  .cards2 {
    width: 160px;
  }

  .cardInfo {
    padding: 0px 10px;
  }
}

@media (max-width: 260px) {

  .cards2 {
    width: 150px;
  }

  .cardsContainer span {
    font-size: 35px;
  }
}

/* REGISTER */

.buttonInput,
.emailInput {
  padding: 15px;
  font-size: 18px;
  border: none;
  background-color: #fff;
  border-radius: 5px;
  color: var(--colorLabel);
  box-shadow: 0px 10px 40px -3px rgba(0, 0, 0, 0.2);
}

.emailInput {
  width: 60%;
}

.buttonInput:hover {
  background-color: #cfcfda;
  transition: 0.4s;
}

.registerPart input:focus-visible {
  outline: none;
}

/* FAQ */

details {
  box-shadow: 0px 10px 40px -3px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  margin: 10px 0px;
  scroll-behavior: smooth;
  transition: height .25s ease;
  overflow: hidden;
}

details p {
  margin: 10px;
}

summary {
  display: flex;
  align-items: center;
  padding: 1rem;
  padding-left: 2.2rem;
  position: relative;
  cursor: pointer;
  color: var(--colorLabel);
  font-size: 18px;
  font-weight: bold;
}

summary:before {
  content: '';
  filter: opacity(40%);
  border-width: .4rem;
  border-style: solid;
  border-color: transparent transparent transparent rgb(0, 0, 0);
  position: absolute;
  top: 1.3rem;
  left: 1rem;
  transform: rotate(0);
  transform-origin: .2rem 50%;
  transition: .25s transform ease;
}

details[open]>summary:before {
  transform: rotate(90deg);
}


details summary::-webkit-details-marker {
  display: none;
}

details summary::-webkit-details-marker {
  display: none;
}

details>ul {
  padding-bottom: 1rem;
  margin-bottom: 0;
}


/* CONTACT FORM */

.contactForm {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.contactForm input,
.contactForm select,
.contactForm textarea,
.contactForm button {
  pointer-events: none;

  padding: 15px;
  font-size: 18px;
  border: none;
  background-color: #fff;
  border-radius: 5px;
  color: var(--colorLabel);
  box-shadow: 0px 10px 40px -3px rgba(0, 0, 0, 0.2);
  width: 100%;
  margin: 15px 0px;
  font-family: 'Montserrat', sans-serif;
}

.contactForm button:hover {
  background-color: #cfcfda;
  transition: 0.4s;
}

.contactForm input:focus-visible,
.contactForm select:focus-visible,
.contactForm textarea:focus-visible {
  outline: none;
}

.contactForm input[data-error]:hover {
  border: solid 1px red;
}

.contactPhpForm iframe {
  border: none;
}

.contactPhpForm div {
  height: 30px;
  background-color: #fff;
  position: relative;
  top: -33px;
}

error {
  color: red;
}

/* ARTICLES */

.articleInfo {
  margin-bottom: 25px;
}

.articleInfo small {
  margin-right: 10px;
}

.amazonProduct {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.amazonProduct a img {
  width: 300px;
  height: 300px;
}

.amazonBtn {
  margin-bottom: 25px;
}

.amazonBtn a {
  background-color: var(--blue);
}

.prosConsTable {
  box-shadow: 0px 10px 40px -3px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 20px;
}

.prosConsTable tbody {
  display: flex;
}

.prosConsTable tr {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 50%;
}

.prosConsTable tr th {
  width: 20%;
  border-bottom: 1px solid;
}


/* SEARCH RESULTS */

#resultElement {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 25px;
  padding-bottom: 25px;
  border-bottom: solid 1px hsl(0deg 0% 92%);
}

#resultElement img {
  margin-right: 10px;
  width: 200px !important;
}

#resultElement p {
  font-size: 13px;
  line-height: inherit;
}

@media (max-width: 600px) {
  #resultElement {
    flex-direction: column-reverse;
  }

  #resultElement img {
    margin-right: initial;
    width: 100% !important;
    margin-bottom: 20px;
  }
}